.loginForm, .displayContent {
	width: 100%;
	max-width: 600px;
	margin: 0% auto;
	text-align: center;
}

.displayContent {
	text-align: left;
}

.loginError {
	color: red;
}

.loginNotice {
	color: green;
}

.hidden {
	display: none;
}

.steam_offline, .steam_online, .steam_ingame 
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    vertical-align: middle;

    width: 48px;
    height: 48px;
}

.steam_offline 
{
    border: 4px #999 solid;
}

.steam_online 
{
    border: 4px #5698C9 solid;
}

.steam_ingame 
{
    border: 4px #98C460 solid;
}

.friend {
	margin: 4px;
}

.friend span {
	color: gray;
}

.info, .success, .warning, .error {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
}